<mat-toolbar color="primary" id="app-toolbar">
  <span id="app-title" [innerText]="title"></span>

  <div id="app-links" fxHide.lt-md>
    <a routerLink="/contacts" [routerLinkActive]="'active'">Contacts</a>
    <a routerLink="/add-contact" [routerLinkActive]="'active'">Add a Contact</a>
  </div>

  <button mat-button fxHide="false" fxHide.gt-sm id="nav-hamburger">
    <mat-icon>menu</mat-icon>
   </button>
</mat-toolbar>

<app-loader></app-loader>

<div id="app-main">
  <router-outlet></router-outlet>
</div>
