@import '~@angular/material/theming';
$default-spacing: 12px;
$primary-color: mat-color(mat-palette($mat-deep-purple));

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  h1 {
    color: $primary-color;
  }

  * {
    outline: none;
  }

  #app-main {
    padding: 7vh $default-spacing;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}

