@import '~@angular/material/theming';
$default-spacing: 12px;
$primary-color: mat-color(mat-palette($mat-deep-purple));

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    outline: none;
  }

  #app-main {
    padding: $default-spacing;
  }
}

