<mat-card matRipple class="contact-card">
  <mat-card-header>
    <div mat-card-avatar class="contact-card-avatar-container">
      <mat-icon
        aria-hidden="false"
        class="contact-card-avatar"
        aria-label="Contact avatar"
        >face</mat-icon
      >
    </div>
    <mat-card-title
      >{{ contact.firstName }} {{ contact.surname }}</mat-card-title
    >
    <mat-card-subtitle>{{ contact.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ contact.firstName }} was born {{ contact.dateOfBirth | timeago}}.</p>
    <div class="contact-modified-info">
      <strong>Created:</strong> {{ contact.insertedUtc | timeago }}
    </div>
    <div class="contact-modified-info">
      <strong>Last updated:</strong> {{ contact.updatedUtc | timeago}}
    </div>
  </mat-card-content>
</mat-card>
